<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Data gathering util</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/simple-sidebar.css" rel="stylesheet"/>
    <style>
        #list2 {
            width: 320px;
        }

        #list2 ol {
            font-style: italic;
            font-family: Georgia, Times, serif;
            font-size: 24px;
        }

        #list2 ol li {
        }

        #list2 ol li p {
            padding: 8px;
            font-style: normal;
            font-family: Arial;
            font-size: 13px;
            border-left: 1px solid #999;
        }

        #list2 ol li p em {
            display: block;
            font-size: 20px;
        }

        .inner-list li {
            font-size: 15px;
        }
    </style>
</head>
<body>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Главная
                </a>
            </li>
            <li>
                <a href="/createGroups/">Создать список групп</a>
            </li>
            <li>
                <a href="/vk/signin">Авторизоваться в API</a>
            </li>
            <li>
                <a href="/collect/">Инициировать сбор</a>
            </li>
            <li>
                <a href="/stats/">Статистика по собранным данным</a>
            </li>
            <li>
                <a href="/entrant/">Информация об абитуриенте</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Открыть меню</a>
            <form th:action="@{/entrant/data/}" th:method="get">
                <label for="fio">Введите имя и фамилию абитуриента, по которому нужно получить данные</label>
                <input type="text" name="fio" id="fio"/>
                <input type="submit" value="Запросить данные"/>
            </form>

        </div>
        <div id="list2">
            <!--/*@thymesVar id="entrants" type="java.util.List"*/-->
            <!--/*@thymesVar id="entrant" type="ru.marushkai.datagathering.domain.VKUser"*/-->

            <div th:if="${entrants != null}" th:object="${entrants}">
                <div th:each="entrant : ${entrants}">
                    <ol>
                        <li>
                            <p th:utext="'<em>Фамилия Имя: </em>' + ${entrant.firstName} + ' ' + ${entrant.lastName}"></p>
                        </li>
                        </li>
                        <li th:if="${entrant.about != null}"><p
                                th:utext="'<em>Информация о себе: </em>' + ${entrant.about}"></p></li>
                        <li th:if="${entrant.activities != null}"><p
                                th:utext="'<em>Занятия:  </em>' + ${entrant.activities}"></p></li>
                        <li th:if="${entrant.bdate != null}"><p
                                th:utext="'<em>Дата рождения: </em>' + ${entrant.bdate}"></p></li>
                        <li th:if="${entrant.career != null && not #lists.isEmpty(entrant.career)}">
                            <div>
                                <p><em>Опыт работы: </em></p>
                                <ol class="inner-list" th:each="carr : ${entrant.career}">
                                    <li th:text="'Компания: ' + ${carr.company}"></li>
                                    <li th:text="'Должность: ' + ${carr.position}"></li>
                                    <li th:text="'С: ' + ${carr.year_from}"></li>
                                    <li th:text="'По: ' + ${carr.year_until}"></li>
                                </ol>
                            </div>
                        </li>
                        <li th:if="${entrant.city != null && not #lists.isEmpty(entrant.city)}">
                            <div>
                                <p><em>Город:</em></p>
                                <ul>
                                    <li th:text="${entrant.city[0].cityName}"></li>
                                </ul>
                            </div>
                        </li>
                        <li th:if="${entrant.connections != null}"
                            th:utext="'<em>Имя в facebook: </em>' + ${entrant.connections}"><p></p></li>
                        <li th:if="${entrant.contacts != null && not #lists.isEmpty(entrant.contacts)}"><p
                                th:text="'<em>Контакты: </em>Мобльный: ' + ${entrant.contacts[0].mobilePhone} + ', Домашний: ' + ${entrant.contacts[0].homePhone}">
                            ="
                        <li>
                            <div th:if="${entrant.country != null && not #lists.isEmpty(entrant.country)}">
                                <p><em>Страна:</em></p>
                                <ul class="inner-list">
                                    <li th:utext="${entrant.country[0].countryName}"></li>
                                </ul>

                        <li th:if="${entrant.education != null && not #lists.isEmpty(entrant.career)}">
                            <div>
                                <p><em>Образование: </em></p>
                                <ol class="inner-list" th:each="edu : ${entrant.education}">
                                    <li th:text="'Учебное заведение: ' + ${edu.universityName}"></li>
                                    <li th:text="'Факультет: ' + ${edu.facultyName}"></li>
                                    <li th:text="'Год окончания: ' + ${edu.graduation}"></li>
                                </ol>
                            </div>
                        </li>
                        <li th:if="${entrant.homeTown != null}"><p
                                th:utext="'<em>Родной город: </em>' + ${entrant.homeTown}"></p></li>
                        <li th:if="${entrant.interests != null}"><p
                                th:utext="'<em>Интересы: </em>' + ${entrant.interests}"></p></li>
                        <li th:if="${entrant.military != null && not #lists.isEmpty(entrant.military)}">
                            <div>
                                <p><em>Военная служба: </em></p>
                                <ol class="inner-list" th:each="mil : ${entrant.military}">
                                    <li th:text="'Часть: ' + ${mil.unit}"></li>
                                    <li th:text="'Год начала службы: ' + ${mil.year_from}"></li>
                                    <li th:text="'Год окончания службы: ' + ${mil.year_until}"></li>
                                </ol>
                            </div>
                        </li>

                        <!--<li>:if="${entrant.occupation != null}" th:text="'Род деятельности: ' + ${entrant.occupation[0].type} + '; Название: ' + ${entrant.occupation[0].occupationName}"></p></-->
                        <li th:if="${entrant.personal != null}">
                            <div>
                                <p><em>Персональная информация: </em></p>
                                <ul class="inner-list">
                                    <li th:text="'Политические взгляды: ' + ${entrant.personal.political}"></li>
                                    <li th:text="'Языки: ' + ${entrant.personal.langs}"></li>
                                    <li th:text="'Религиозные взгляды: ' + ${entrant.personal.religion}"></li>
                                    <li th:text="'Источники вдохновения: ' + ${entrant.personal.inspiredBy}"></li>
                                    <li th:text="'Главное в людях: ' + ${entrant.personal.peopleMain}"></li>
                                    <li th:text="'Главное в жизни: ' + ${entrant.personal.lifeMain}"></li>
                                    <li th:text="'Отношение к курению: ' + ${entrant.personal.smoking}"></li>
                                    <li th:text="'Отношение к алкоголю: ' + ${entrant.personal.alcohol}"></li>
                                </ul>
                            </div>
                        </li>
                        <li th:if="${entrant.photoId != null}"><a th:href="'https://vk.com/photo' + ${entrant.photoId}">Фото
                            пользователя</a></li>
                        <li th:if="${entrant.quotes != null}"><p th:text="'Цитаты: ' + ${entrant.quotes}"></p></li>
                        <li th:if="${entrant.relatives != null && not #lists.isEmpty(entrant.relatives)}">
                            <div>
                                <p><em>Родственные связи: </em></p>
                                <ol class="inner-list" th:each="rel : ${entrant.relatives}">
                                    <li th:text="'Имя: ' + ${rel.relativeName}"></li>
                                </ol>
                            </div>
                        </li>
                        <li th:if="${entrant.schools != null && not #lists.isEmpty(entrant.schools)}">
                            <div>
                                <p><em>Школы: </em></p>
                                <ol class="inner-list" th:each="sch : ${entrant.schools}">
                                    <li th:utext="'<em>Название школы: </em>' + ${sch.schoolName}"></li>
                                    <li th:text="'Тип школы: ' + ${sch.type}"></li>
                                    <li th:text="'Буква класса: ' + ${sch.classLetter}"></li>
                                    <li th:text="'Год начала обучения: ' + ${sch.yearFrom}"></li>
                                    <li th:text="'Год окончания обучения: ' + ${sch.yearTo}"></li>
                                    <li th:text="'Год выпуска: ' + ${sch.yearGraduated}"></li>
                                </ol>
                            </div>
                        </li>
                        <li th:if="${entrant.sex != null}" th:text="'Пол: ' + ${entrant.sex}"><p></p></li>
                        <li th:if="${entrant.trending != null}"><p
                                th:utext="'<em>Трендовая страница: </em>' + ${entrant.trending}"></p></li>
                        <li th:if="${entrant.verified != null}"><p
                                th:utext="'<em>Страница подтверждена?: </em>' + ${entrant.verified}"></p></li>

                        <li th:if="${entrant.analysisResult != null}">
                            <div>
                                <ul class="inner-list">
                                    <li th:utext="'<em>Заинтересован ли абитуриент в образовательных темах: </em><br>' + ${entrant.analysisResult.isInterestedInEdu}"></li>
                                    <li th:utext="'<em>Спектр интересов (технический\гуманитарный): </em><br>' + ${entrant.analysisResult.knowledgeSpectre}"></li>
                                    <li th:utext="'<em>Вне образовательные интересы: </em><br>' + ${entrant.analysisResult.nonEduInterests}"></li>
                                    <li th:utext="'<em>Есть ли у абитуриента реальный опыт работы: </em><br>' + ${entrant.analysisResult.realExperience}"></li>
                                    <li th:utext="'<em>Открытость к предоставлению информации: </em><br>' + ${entrant.analysisResult.readyToProvideInfo}"></li>
                                    <li th:utext="'<em>Цитируемые сообщества: </em><br>' + ${entrant.analysisResult.quotedGroups}"></li>
                                </ul>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/libs/jquery-3.1.1.min.js"></script>
<script src="/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
</body>
</html>